.App {
  text-align: center;
  margin-top: 10%;
}

body {
  padding-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


h3 {
 margin-bottom: 20px;
 margin-top:5%;
}

.image{
  vertical-align: middle;
  display: flex;
  float: left;
}

.video{
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  column-count: 3;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

.text {
  font-size: 20px;
  padding-left: 200px;
  padding-top: 5%;
  padding-right: 80px;
  }

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }